@model DatabaseAPI.Models.Developer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Developer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GraduationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WakeTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WakeTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBackendDeveloper)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBackendDeveloper)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
